{% extends 'layouts/normal/base.html' %}
{% load static %}

{% block css %}
<style>

  .bg-mach {
    background: #6200EE;
  }

  .text-mach {
    color: #6200EE;
  }
</style>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:wght@100&display=swap"
  rel="stylesheet">
{% endblock %}

{% block contenido %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <main>
    <nav class="navbar navbar-expand-lg bg-mach text-white">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="#"><strong>Hackaton FEMTECH</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">


          </ul>
          <form class="d-flex" action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-light" type="submit">Salir</button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container mt-5">
      <div class="row">
        <div class="col-md-4">
          <div class="mb-3">
            <div class="card text-start text-white bg-mach">
              <div class="card-body">
                <h4 class="card-title">Mi cuenta: {{ user.username }}</h4>
                <h4 class="card-title">{{ tarjeta.numero }}</h4>
                <p class="card-text">
                  <div class="row">
                    <div>Balance:</div>
                    <div>${{ tarjeta.balance }}</div>
                  </div>
                </p>
              </div>
            </div>
          </div>
          <div class="list-group">
            <a href="{% url 'home' %}" class="list-group-item list-group-item-action">MI CUENTA</a>
            <a href="{% url 'transferencia' %}" class="list-group-item list-group-item-action">DEPOSITAR</a>
            <a href="{% url 'historial' %}" class="list-group-item list-group-item-action">HISTORIAL</a>
          </div>
        </div>
        <div class="col">
          <div class="card text-white bg-secondary">
            <div class="card-body">
              <h4 class="card-title">Comprobante de transferencia</h4>
              <ol class="list-group">

              <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                      <div class="fw-bold">{{ transaccion.fecha|date:"d-m-Y" }}</div>
                      CODIGO: {{ transaccion.id }}
                      Desde: {{ transaccion.tarjeta_origen.cliente.username }}
                      Hacia: {{ transaccion.tarjeta_destino.cliente.username }}
                  </div>
                  <span class="badge rounded-pill {% if transaccion.tarjeta_origen.cliente == request.user %}bg-danger{% else %}bg-success{% endif %}">
                      {% if transaccion.tarjeta_origen.cliente == request.user %}
                          -{{ transaccion.monto }}
                      {% else %}
                          +{{ transaccion.monto }}
                      {% endif %}
                  </span>
              </li>

              </ol>
            </div>
          </div>

        </div>
      </div>

    </div>
    {% comment %} </section> {% endcomment %}
    <footer class="bg-dark text-white text-center py-3 mt-5">
      <p>
        &copy; 2024 MACH - <small>CTRL+QUEENS</small> <br /> Todos los derechos reservados
      </p>
    </footer>
  </main>
</body>

</html>

{% endblock %}
